body, header, section, footer, h1, h2, h3 {
  display: block;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

header {
  padding: 20px 0;
}

h1 {
  font-weight: 100;
  color: #0abab5;
}

h2 {
  color: #9400D3;
}

p {
  color: #FF8C00;
}

button {
  background-color: #FFFF33;
  color: #FF1493;
}

.big-and-bold {
  font-size: 48px;
  font-weight: 400;
  color: #FF69B4;
  transition: all 3s;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
}
